<div class="btn-group"><!-- @ws
    --><button class="btn btn-sm btn-default" {{action 'prev'}}>&lt;</button><!-- @ws
    --><button {{bind-attr class=":btn :btn-sm :btn-default isPresentView:active"}} {{action 'today'}}>today</button><!-- @ws
    --><button class="btn btn-sm btn-default" {{action 'next'}}>&gt;</button><!-- @ws
--></div>